@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jacques Francois Shadow';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/JacquesFrancoisShadow-Regular.ttf') format('truetype');
}

body {
    background: linear-gradient(-45deg, #000000, #2e2528, #000000, #59857a);
    background-size: 400% 400%;
    animation: gradient 90s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}